---
const { title = "Hue.Travel" } = Astro.props;
import '../../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-100 text-gray-800">
    <main class="min-h-screen flex flex-col items-center justify-start">
      <slot />
    </main>
  </body>
</html>